@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    background-color: rgb(243, 244, 246);
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e00;
    border-radius: 20px;
}

body {
    background-color: rgb(243, 244, 246);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 84px;
    height: 80px;
    background-color: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 45px;
}

nav .left h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

nav .left .btn {
    display: flex;
    align-items: center;
    gap: 17px;
}

nav .left .btn button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(17, 25, 39);
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

nav .left .btn button:nth-child(2) {
    color: rgb(209, 213, 219);
    transition: all .1s linear;
}

nav .left .btn button:nth-child(2):hover {
    color: white;
    background-color: rgb(55, 65, 81);
}

nav .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .right .search {
    display: flex;
    align-items: center;
    width: 330px;
    background-color: rgb(55, 65, 81);
    padding: 8px 12px;
    justify-content: start;
    border-radius: 6px;
    gap: 7px;
}

nav .right .search i {
    color: rgb(156, 163, 175);
    font-size: 16px;
}

nav .right .search input {
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 2px;
    color: rgb(156, 163, 175);
    border: none;
    font-size: 16px;
}

nav .right svg {
    color: rgb(156, 163, 175);
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

nav .right svg::after {
    content: "0";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #de2b34;
    color: white;
    font-size: 18px;
}

nav .right svg:hover {
    color: rgb(255, 255, 255);
}

nav .right h1 {
    font-size: 18px;
    line-height: 23px;
    color: rgb(156, 163, 175);
    font-weight: lighter;
}

nav .right h1 span {
    color: rgb(255, 255, 255);
    font-weight: normal;
}

section.shopping {
    padding: 60px;
    min-height: 83vh;
}

section.shopping .form {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: start;
    justify-content: space-between;
}

section.shopping h1 {
    font-size: 36px;
    color: rgb(17, 25, 39);
    letter-spacing: -.4px;
    font-weight: 800;
}

section.shopping .item {
    padding: 24px 0;
    display: flex;
    width: 100%;
}


section.shopping .item img {
    width: 35%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: 100% 0;
    cursor: pointer;
}

section.shopping .item .img img:hover {
    opacity: .85;
}

section.shopping .item .details {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 24px;
    width: 65%;
}

section.shopping .item .details h1 {
    cursor: pointer;
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

section.shopping .item .details p {
    cursor: pointer;
    color: rgb(75, 85, 99);
    font-size: 14px;
    margin: 5px 0 0;
}

section.shopping .item .details select {
    margin-top: 20px;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    text-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    color: rgb(55, 65, 81);
    font-weight: 500;
    padding: 4px;
    width: 60px;
    text-align: left;
    border-radius: 6px;
    outline: 1px solid rgb(209, 213, 219);
    border: none;
}

section.shopping .item .details select:focus {
    outline: 1px solid rgb(99, 102, 241);
}


section.shopping .bill {
    background-color: rgb(249, 250, 251);
    width: 40%;
    padding: 32px 32px 0;
    border-radius: 8px;
}

section.shopping .bill h1 {
    color: rgb(17, 25, 39);
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
}

section.shopping .bill .bill-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

section.shopping .bill .bill-item:nth-child(3) {
    border-top: 2px solid rgb(229, 231, 235);
}
section.shopping .bill .bill-item:nth-child(4) {
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
}

section.shopping .bill .bill-item p {
    font-size: 14px;
    color: rgb(75, 85, 99);
}

section.shopping .bill .bill-item h3 {
    color: rgb(17, 25, 39);
    font-weight: 700;
    font-size: 14px;
}
section.shopping .form .left {
    margin-top: 24px;
    padding: 0 24px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
section.shopping .form .left h1{
    color: rgb(17, 25, 39);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.box{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.box h2{
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 14px;
}
.box input{
    width: 100%;
    background-color: white;
    padding: 8px 12px;
    font-size: 14px;
    outline: 1px solid rgb(209 213 219);
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    border: none;
}
.box input:focus{
    outline: 1px solid rgb(99, 102, 241);
}
.box .box input{
    width: 95%;
}
.btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}
.btn button{
    padding: 10px 16px;
    background-color: rgb(79, 70, 229);
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
footer {
    width: 100%;
    background-color: rgb(31, 41, 55);
    padding: 24px 32px;
    color: rgb(209 213 219);
    margin-top: 20px;
    z-index: -1;
}