@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    background-color: rgb(243, 244, 246);
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e00;
    border-radius: 20px;
}

body {
    background-color: rgb(243, 244, 246);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 84px;
    height: 80px;
    background-color: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 45px;
}

nav .left h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

nav .left .btn {
    display: flex;
    align-items: center;
    gap: 17px;
}

nav .left .btn button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(17, 25, 39);
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

nav .left .btn button:nth-child(2) {
    color: rgb(209, 213, 219);
    transition: all .1s linear;
}

nav .left .btn button:nth-child(2):hover {
    color: white;
    background-color: rgb(55, 65, 81);
}

nav .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .right .search {
    display: flex;
    align-items: center;
    width: 330px;
    background-color: rgb(55, 65, 81);
    padding: 8px 12px;
    justify-content: start;
    border-radius: 6px;
    gap: 7px;
}

nav .right .search i {
    color: rgb(156, 163, 175);
    font-size: 16px;
}

nav .right .search input {
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 2px;
    color: rgb(156, 163, 175);
    border: none;
    font-size: 16px;
}

nav .right svg {
    color: rgb(156, 163, 175);
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

nav .right svg::after {
    content: "0";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #de2b34;
    color: white;
    font-size: 18px;
}

nav .right svg:hover {
    color: rgb(255, 255, 255);
}

nav .right h1 {
    font-size: 18px;
    line-height: 23px;
    color: rgb(156, 163, 175);
    font-weight: lighter;
}

nav .right h1 span {
    color: rgb(255, 255, 255);
    font-weight: normal;
}

section.shopping {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    padding: 40px 0;
}
section.shopping .inner{
   padding: 60px 30px;
   background-color: white;
}

section.shopping .form {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: start;
    justify-content: space-between;
}
section.shopping .two{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
section.shopping .two .shipping{
    background-color: white;
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid rgb(209, 213, 219);
}
section.shopping .two .shipping .del{
    width: 50%;
}
section.shopping .two .shipping .add{
    width: 50%;
}
section.shopping .two .ordered{
    background-color: white;
    width: 100%;
    border-top: 1px solid rgb(209, 213, 219);
    margin-top: 50px;
    padding-top: 30px;
}
section.shopping .two h1{
    font-size: 18px;
    color: rgb(17, 25, 39);
    padding: 20px 24px;
    border-bottom: 1px solid rgb(229, 231, 235);
    margin: 0;
}
section.shopping .two .content{
    display: flex;
    align-items: start;
    justify-content: start;
}
section.shopping .two .content h2{
    color: rgb(107, 114, 128);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
section.shopping .two .content p{
    color: rgb(17, 25, 39);
    font-size: 14px;
    margin-top: 4px;
}

section.shopping h1 {
    color: rgb(79, 70, 229);
    font-size: 14px;
    margin-bottom: 8px;
}
section.shopping h2 {
    font-size: 48px;
    margin-bottom: 4px;
    font-weight: 800;
}
section.shopping p {
    color: rgb(107, 114, 128);
    font-size: 16px;
}


section.shopping .item {
    padding: 15px 0;
    display: flex;
    width: 100%;
    align-items: stretch;
}

section.shopping .item .img {
    width: 160px;
    width: 20%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

section.shopping .item .img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: 100% 0;
    scale: 1.1;
    cursor: pointer;
}

section.shopping .item .img img:hover {
    opacity: .85;
}

section.shopping .item .details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 18px;
    height: 200px;
    width: 80%;
}

section.shopping .item .details h3 {
    cursor: pointer;
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

section.shopping .item .details p {
    cursor: pointer;
    color: rgb(75, 85, 99);
    font-size: 14px;
    margin: 5px 0 0;
}



.last{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.last h4{
    color: rgb(17, 25, 39);
    font-size: 14px;
    margin-right: 10px;
    border-right: 1px solid rgb(229, 231, 235);
    padding-right: 10px;
    align-self: flex-end;
}
.last h4:nth-child(2){
    border: none;
}






section.shopping .bill {
    background-color: rgb(249, 250, 251);
    width: 35%;
    padding: 32px;
    border-radius: 8px;
}

section.shopping .bill h1 {
    color: rgb(17, 25, 39);
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
}

section.shopping .bill .bill-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

section.shopping .bill .bill-item:nth-child(3) {
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
}

section.shopping .bill .bill-item p {
    font-size: 14px;
    color: rgb(75, 85, 99);
}

section.shopping .bill .bill-item h3 {
    color: rgb(17, 25, 39);
    font-weight: 700;
    font-size: 14px;
}

section.shopping .bill button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgb(79, 70, 229);
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
section.shopping .bill button:hover {
    background-color: rgb(67, 56, 202);
}
.a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid rgb(209, 213, 219);
}
.a a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(79, 70, 229);
    font-weight: 500;
}
.a a i{
    transition: all .2s linear;
}
.a a:hover i{
    padding-left: 5px;
}

footer {
    width: 100%;
    background-color: rgb(31, 41, 55);
    padding: 24px 32px;
    color: rgb(209 213 219);
}