@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    background-color: rgb(243, 244, 246);
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e00;
    border-radius: 20px;
}

body {
    background-color: rgb(243, 244, 246);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 84px;
    height: 80px;
    background-color: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 45px;
}

nav .left h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

nav .left .btn {
    display: flex;
    align-items: center;
    gap: 17px;
}

nav .left .btn button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(17, 25, 39);
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

nav .left .btn button:nth-child(2) {
    color: rgb(209, 213, 219);
    transition: all .1s linear;
}

nav .left .btn button:nth-child(2):hover {
    color: white;
    background-color: rgb(55, 65, 81);
}

nav .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .right .search {
    display: flex;
    align-items: center;
    width: 330px;
    background-color: rgb(55, 65, 81);
    padding: 8px 12px;
    justify-content: start;
    border-radius: 6px;
    gap: 7px;
}

nav .right .search i {
    color: rgb(156, 163, 175);
    font-size: 16px;
}

nav .right .search input {
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 2px;
    color: rgb(156, 163, 175);
    border: none;
    font-size: 16px;
}

nav .right svg {
    color: rgb(156, 163, 175);
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

nav .right svg::after {
    content: "0";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #de2b34;
    color: white;
    font-size: 18px;
}

nav .right svg:hover {
    color: rgb(255, 255, 255);
}

nav .right h1 {
    font-size: 18px;
    line-height: 23px;
    color: rgb(156, 163, 175);
    font-weight: lighter;
}

nav .right h1 span {
    color: rgb(255, 255, 255);
    font-weight: normal;
}



footer {
    width: 100%;
    background-color: rgb(31, 41, 55);
    padding: 24px 32px;
    color: rgb(209 213 219);
    margin-top: 20px;
}


.mai {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}


.product-details {
    background-color: #fff;
    width: 90%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 30px;
}

.customer-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 10px;
}

.customer-review .left-review h1 {
    margin-bottom: 10px;
}

.customer-review .left-review .stars {
    display: inline;
}

.customer-review p {
    margin-top: 10px;
}

.left-side {
    display: flex;
    align-items: start;
    justify-content: flex-start;
}

.left-side img {
    width: 530px;
    height: 680px;
    object-position: 0% 0%;
    object-fit: cover;
    border-radius: 10px;
}

.right-side {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.right-side h1 {
    font-size: 30px;
    margin-bottom: 8px;
}

.right-side h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 8px;
}

.right-side .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icons i {
    color: #d1d5db;
    margin-left: 2px;
    font-size: 14px;
}

.icons p {
    color: #6366f1 !important;
    margin-left: 10px;
    font-size: 14px !important;
}

.blue {
    color: #6366f1 !important;
}


.right-side p {
    color: #4e5765;
    line-height: 28px;
    font-size: 16px;
}

.right-side .brand{
    margin-top: 20px;
}
.right-side .brand,
.right-side .category {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side .category {
    margin-bottom: 20px;
}

.right-side .brand span,
.right-side .category span {
    color: #9fa6b2;
    font-weight: 500;
    font-size: 14px;
}

.right-side .category p,
.right-side .brand p {
    color: #6366f1;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.right-side button {
    padding: 15px 30px;
    background-color: #9590ef;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #9590ef;
    cursor: pointer;
    font-size: 15px;
    width: 60%;
}
.right-side button:hover {
    background-color: #8c86f1;
    border: 1px solid #8c86f1;
}
.customer-review .left-review a{
    color: rgb(67, 56, 202);
    text-decoration: none;
    font-weight: 500;
}